* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main1 {
    height: 100vh;
    width: 100vw;
    /* background-color: rgb(255, 143, 143); */
    /* margin-bottom: 5vh; */

}

.main-img {


    background-image: url("N_images/bg.jpg");
    /* background-color: red; */
    height: 100%;
    width: 100%;
    opacity: 80%;
    position: absolute;
    z-index: 45;
    top: 0;
    background-repeat: repeat;
    background-size: max(2000px, 100vw);
    background-position: center;
}

/*  */

nav {
    height: 10vh;
    max-width: 80vw;
    /* height: 8vh; */
    padding: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 500;
    margin: auto;
    /* background-color: red; */

}


/*  */

.sign-in {
    background-color: rgb(255, 0, 0);
    color: white;
    height: 33px;
    width: 73px;
    border-radius: 6px;
    z-index: 908;
    position: relative;
    cursor: pointer;
}

.sign-in:hover {
    background-color: rgb(202, 146, 255);
}

.svg1 {
    height: 35px;

}

select {
    z-index: 999;
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 33px;
    width: 123px;
    border-radius: 6px;
    border: 2px solid white;

}

.bannertext {
    min-height: 30vh;
    width: 100vw;
    /* background-color: rgb(195, 226, 226); */
    color: white;
    position: relative;
    z-index: 45;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* margin: auto; */
    margin: 50px 0 3vh 0;
    line-height: -20px;

}

.bannertext span {
    text-align: center;
}

.bannertext span:nth-child(1),
.bannertext span:nth-child(2) {

    /* background-color: red; */
    font-family: Baloo Bhaijaan 2, "sans-serif";
    font-weight: bolder;
    font-size: 3.5rem;
    /* background-color: yellow; */

}

.bannertext span:nth-child(3) {
    font-weight: 500;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 25px;
    line-height: 50px;
    padding-left: 15px;
}

.bannertext span:last-child {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    line-height: 30px;
    padding-left: 15px;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
    /* margin: auto; */
    /* background-color: greenyellow; */

}

.inp {
    border-radius: 6px;
    position: relative;
    height: 8vh;
    cursor: pointer;
    width: 30vw;
    z-index: 45;
    padding-right: 20px;
    border-radius: 9px;
}

.btn .inp {
    background-color: rgba(128, 128, 128, 0.315);

    color: white;
}

.inp::placeholder {
    color: white;
    padding-left: 100px;
}

.getstart {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 18px;
    font-weight: 400;
    height: 8vh;
    width: 15vw;
    background-color: red;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4545;
    border-radius: 6px;
    /* padding-bottom: 2px;   */
    margin-left: 2vh;
}

.getstart span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.getstart:hover {
    background-color: rgb(245, 44, 44)
}



@media (max-width: 500px) {
    .bannertext {
        margin-top: 6px;
    }

    .btn {
        flex-direction: column;

    }

    select {
        height: auto;
        width: 35px;
    }

    .svg1 {
        height: 30px;
    }

    .inp {
        width: 80vw;
        height: 32px;
    }

    .getstart {
        height: auto;
        width: 35px
    }

    .main-img {
        height: 100vh;
        width: 100vw;
        background-position: center center;
        background-repeat: repeat;
        background-size: cover;
        margin-left: 20px;
    }

    .nav {
        max-height: 7px;
    }
}

.curve {

    width: 100%;
    height: 20px;
    position: relative;
    overflow: hidden;
    left: -10%;
    width: 120%;
    height: 120px;
    border-top: 4px solid #31ff87a8;
    border-radius: 50%;
    box-shadow: 0 -2px 0px 0px;
    z-index: 9;
    top: 0;
    margin: 0 0 -20vh 0;
}


.trends {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 80vw;
    flex-direction: row;
    /* background-color: aqua; */
    flex-wrap: wrap;
    margin: auto;
    /* row-gap: 10vw; */
    box-sizing: border-box;
    /* margin: 5vh 0 5vh 0; */
}

.trend {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 30vh;
    width: 10vw;
    flex-grow: 1;
    position: relative;
    z-index: 456;
    /* border: 4px solid red; */
    flex-wrap: wrap;
    object-fit: cover;
    margin-left: 2vh;
    margin-right: 2vh;


}

.t-i {
    font-weight: bolder;
    margin: 0 0 10px 20vh;
    display: block;
    font-size: 1.5em;
    color: white;
    font-family: "Baloo Bhaijaan 2", sans-serif;
}



.trend img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    z-index: 4;

}



@media (max-width: 600px) {

    .b,
    .d,
    .e {
        display: none;
        margin: auto;
    }
.a{
    object-position: top;
}
    .t-i {
        margin: 0 0 10px 10vh;
    }

}


@media (max-width: 900px) {

    .c,
    .d {
        display: none;
        margin: auto;
    }

    .t-i {
        margin: 0 0 10px 10vh;
    }
}

.svgbtn1 {
    border-radius: 5px;
    background-color: grey;
    height: 10vh;
}

.svgbtn1:hover {
    background-color: rgb(201, 193, 193);
}

.Trending {
    margin-top: 10vh;
}

section {

    margin-bottom: 10vh;
}

h2,
h3 {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    margin-left: 18vh;
    margin-bottom: 4vh;
}

.infos {
    min-height: 50vh;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-direction: row;
    box-sizing: border-box;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    color: #a09da6;
    /* background-color: rgb(0, 238, 255);  */


}


.info {
    flex-grow: 1;
    margin: 0px 20px 0px 20px;
    border-radius: 20px;
    font-weight: 400;

    background-color: #1d1931;
    min-height: 45vh;
    min-width: 18vw;
}


.infos p {
    padding: 10px 10px;
}

@media (max-width: 500px) {
    .infos {
        flex-direction: column;


    }

    .info {
        margin: 10px 0 0 20px;
    }

    .tv {
        position: relative;
        left: 150px;
        top: 10px
    }
}

.head3 {
    /* margin: 0px 0px 0px 5vw; */
    margin-left: 2vw;
}

h4 {
    margin: 10px 0px 20px 5px;
    font-weight: 900;
    color: white;
    font-size: 24px;
}

.fqs {
    display: block;

    font-weight: 400;
    font-size: 24px;
    margin: 0 0 20px 5px;
    color: white;
    font-family: "Baloo Bhaijaan 2", sans-serif;

}

.faqbox {
    min-height: 70vh;
    width: 80vw;
    margin: auto;
    /* background-color: yellow */
}

.faq {
    background-color: grey;
    max-height: 8vh;
    width: 80vw;
    margin: auto;
    margin-bottom: 2vh;
    color: white;
    font-weight: 400;
    font-family: "Baloo Bhaijaan 2", sans-serif;

    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 10px 25px 50px 13px;
    font-size: 24px;
}

.faq s {
    margin-top: 0.5vh;
}

.faq svg {
    font-weight: bolder;
    flex-shrink: 0;

}

.faq:hover {
    background-color: rgb(170, 168, 168);
}

@media (max-width: 500px) {
    .faq {
        padding: 10px 25px 50px 13px;
        font-size: 16px;
    }

    .fqs {
        font-size: 18px;
        font-weight: 900;
    }
}




.btn2 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 25vh;
    flex-wrap: wrap;
    /* background-color: red; */
    flex-wrap: wrap;


}

.inp2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 6px;
    position: relative;
    height: 8vh;
    /* width: 10vw; */
    cursor: pointer;
    width: 40vw;

    padding-left: 2vh;
    border-radius: 9px;
    background-color: gray;

}

.btnsection>span {

    font-family: "Baloo Bhaijaan 2", sans-serif;
    display: block;
    font-size: 22px;
    text-align: center;
    line-height: 1.5;
    padding: 0 15px;
    font-weight: 400;
    margin: auto;


}


.btn2 .inp2 {
    background-color: rgba(128, 128, 128, 0.315);

    color: white;
}

.inp2::placeholder {
    color: white;
    padding-right: 2vh;

}


@media (max-width: 982px) {

    .btn2 {
        flex-direction: column;
        gap: 15px;
    }

    .inp2 {

        width: 80vw;
        height: 32px;
    }

    .getstart {
        width: 50%;
        height: 39px;
        padding: 10px 0;
        font-size: 15px;
        font-weight: bolder;
    }
}




/* FOOTER CONTENT */


.copyrightitem {
    /* background-color: yellow; */
    height: auto;
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.s1 {
    /* background-color: red; */
    flex-grow: 1;


}

.s2 {
    /* background-color: green; */
    flex-grow: 1;
}

.s3 {
    /* background-repeat: gold; */
    flex-grow: 1;
}

.s1,
.s2,
.s3 {
    line-height: 2.8;
    margin-top: 5vh;
}

.copyrightitem a {
    color: grey;
}


@media (max-width: 500px) {
    .lastsecond {

        width: 90vw;
    }

    .copyrightitem {
        flex-direction: column;

        height: auto;
        line-height: normal;

    }
}


.call {
    color: grey;
    height: 4vh;
    width: 80vw;
    margin: auto;
    margin-top: 2vh;

}

.call a {
    color: grey;
}

.last {
    height: 50vh;
    width: 80vw;
    /* display: flex; */
    color: whitesmoke;
    line-height: 8vh;
    margin: auto;
    color: grey;
}

.select2 {
    margin-top: 6vh;
}

.select2 {
    margin-top: 3vh;
}

.lss {
    margin-top: 6vh;
}

.bbbtn {
    height: 8vh;
    background-color: red;
    color: white;
    width: 80vw;
    font-weight: bolder;
    font-size: small;
    cursor: pointer;
    margin: 2vh 0vh;
}

.bbbtn:hover {
    background-color: rgb(196, 57, 15);
}

@media (min-width: 500px) {
    .bbbtn {
        display: none;
    }
}

/* FOOTER CONTENT*/